* {
  box-sizing: border-box;
  margin: 0;
}

/******* Header cass ******************/
 .header {
   background-color: #131921;
   height: 4rem;
   display: flex;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 100;
 }
 .header__logoLink{
  margin: 25px 18px ;
  margin-top: 30px;
 }
 .header__logo{
   width: 100px; 
   object-fit: contain;
   cursor:pointer; 
 }
 .header__search{
   display: flex;
   flex: 1 244px ;
   border-radius: 3px;
   overflow: hidden;
 }
 .header__searchInput{
   height: 1.5rem;
   padding: 1.1rem;
   border: none;
   width: 100%;
  
 }
 .header__searchIcon{
   background-color: #FCAF17;
   min-width: 1.9em;
   padding: 5px;
   height: 2.2rem  !important;
   cursor: pointer;
 }
 .header__nav{
   display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  
}
 .header__option{
   display: flex;
   flex-direction: column;
   margin: auto 10px;
  }

 .header__link{
   text-decoration: none;
 }
 .header__option > span{
   color: white;
 }
 .header__optionLineOne{
   font-size: 11px;
 }
 .header__optionLineTwo{
   font-size: 13px;
   font-weight: 900;
 }
 .header__optionBasket{
   display: flex;
   align-items: center;
 }
 .header__optionBasket > span{
   color: white;
   margin: auto 10px;
 }
 .header__optionBasketIcon{
   color: white;
 }

 /************ Home ****************/

 body{
  background-color:#F5F5F5 ;
 }
 .home{
   max-width: 1100px;
   margin: 0 auto;
  
 }
 .home__image{
  width: 100%;
  mask-image: linear-gradient(to Bottom , black, transparent);
  z-index: -1;
  margin-bottom: -150px;
 }
 .home__row{
   display: flex;
  
 }
 .product{
   display: flex;
   flex-direction: column;
   background-color:white;
   padding: .5rem 1.5rem;
   justify-content: center;
   z-index: 1;
   margin: 10px 10px;
   width: 100%;
 }
 .product__rating{
   display: flex;
 }
 .product__image{
   max-height: 200px;
   object-fit: contain;
   margin: 15px auto;
   
 }
 .product__button{
   background:linear-gradient(to bottom,#f7dfa5,#f0c14b);
   border-color: #a88734 #9c7e31 #846a29;
   color: #111;
   font-family: Arial, Helvetica, sans-serif ;
   font-size: 13px;
   padding: 2px ;
   width: 120px;
   align-self:  center;
 }
 .product__rating{
   margin: 10px 0;
 }
 .product__price{
   display: flex;
   align-items: center;
 }
 .product__price > small{
   margin-left: 5px;
 }