* {
  box-sizing: border-box;
  margin: 0;
}

/******* Header cass ******************/
 .header {
   background-color: #131921;
   height: 4rem;
   display: flex;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 100;
 }
 .header__logoLink{
  margin: 25px 18px ;
  margin-top: 30px;
 }
 .header__logo{
   width: 100px; 
   object-fit: contain;
   cursor:pointer; 
 }
 .header__search{
   display: flex;
   flex: 1 244px ;
   border-radius: 3px;
   overflow: hidden;
 }
 .header__searchInput{
   height: 1.5rem;
   padding: 1.1rem;
   border: none;
   width: 100%;
  
 }
 .header__searchIcon{
   background-color: #FCAF17;
   min-width: 1.9em;
   padding: 5px;
   height: 2.2rem  !important;
   cursor: pointer;
 }
 .header__nav{
   display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  
}
 .header__option{
   display: flex;
   flex-direction: column;
   margin: auto 10px;
  }

 .header__link{
   text-decoration: none;
 }
 .header__option > span{
   color: white;
 }
 .header__optionLineOne{
   font-size: 11px;
 }
 .header__optionLineTwo{
   font-size: 13px;
   font-weight: 900;
 }
 .header__optionBasket{
   display: flex;
   align-items: center;
 }
 .header__optionBasket > span{
   color: white;
   margin: auto 10px;
 }
 .header__optionBasketIcon{
   color: white;
 }

 /************ Home ****************/

 body{
  background-color:#F5F5F5 ;
 }
 .home{
   max-width: 1100px;
   margin: 0 auto;
  
 }
 .home__image{
  width: 100%;
  mask-image: linear-gradient(to Bottom , black, transparent);
  z-index: -1;
  margin-bottom: -150px;
 }
 .home__row{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }
 .product{
   display: flex;
   flex-direction: column;
   background-color:white;
   padding: .5rem 1.5rem;
   justify-content: center;
   z-index: 1;
   margin: 10px 10px;
   max-width: 300px;
   min-width: 180px;
   flex-grow: 1;
 }
 .product__rating{
   display: flex;
 }
 .product__image{
   max-height: 200px;
   object-fit: contain;
   margin: 15px auto;
   
 }
 .product__button{
   background:linear-gradient(to bottom,#f7dfa5,#f0c14b);
   border-color: #a88734 #9c7e31 #846a29;
   color: #111;
   font-family: Arial, Helvetica, sans-serif ;
   font-size: 13px;
   padding: 2px ;
   width: 120px;
   cursor: pointer;
 }
 .product__button__center{
  align-self:  center;

 }
 .product__rating{
   margin: 10px 0;
 }
 .product__price{
   display: flex;
   align-items: center;
 }
 .product__price > small{
   margin-left: 5px;
 }
 /****************  checkout *******************/
 .checkout{
   display: flex;
   flex-wrap: wrap;
 }
 .checkout__items{
   flex: 0.8;
 }
 .checkout__img{
   width: 100%;
   object-fit: contain;
 }
 .checkout__title{
   box-shadow: 0px 1px 2px #ccc;
 }
 .checkoutProduct{
   display: flex;
   margin-top: 10px;
 }
 .checkoutProduct__img{
   width: 120px;
   object-fit: contain;
    margin: 5px 8px;
  }
  .checkoutProduct__info{
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .checkoutProduct__info p{
    font-weight: 550;
  }
  /************* subtotal **********************/
.subtotal{
  flex: 0.3;
  background-color: #F0F2F2;
  border: 1px #D5D9D9 solid;
  border-radius: 5px;
  box-shadow: 4px 4px 2px #D5D9D9;
  padding: 1rem;
  width: 100%;
  min-width: 260px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin : 20px 6px;
}
.subtotal__total{
    font-weight: bold;
  }
.subtotal__isgift{
    display: flex;
    justify-content: space-around;
  }

.subtotal__button{
  width: 100%;
  font-weight: bold;
  padding: 3px;
}
/***************** login ***********************/

.login{
  display: flex;
  justify-content: center;
  background-color: white;
  height: 100vh;
}
.login__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__logo{
  width: 220px;
  object-fit: contain;
  filter: drop-shadow(4px 4px 2px #ccc);

}
.login__form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 290px;
  border: 1px solid #ddd ;
  border-radius: 5px;
  padding: 10px;
  width: 320px;
  margin-bottom: 30px;
}
.login__form h1{
  font-weight: 400;
  line-height: 1.5;
}
.login__field{
  display: flex;
  flex-direction: column;
}
.login__field label{
  font-weight: 510;
  font-size: 16px;
  color: rgb(36, 35, 35);
}
.login__input{
  border-radius: 5px;
  padding: 6px 10px;
  border: 1px solid rgb(116, 114, 114);
  box-shadow: 1px 1px 2px #ccc;

}
.login__form button{
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.login__register__title{
  width: 100%;
  z-index: 1;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 20px;
}
.login__register__title h3 {
z-index: 10;
position: absolute;
top: -12px;
left: 26%;
background-color: white;
font-weight: 200;
padding: 0 5px;
}
.login__button{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color:linear-gradient(to bottom,#f7f8fa,#e7e9ec); ;
}